<h1 class="bebas em4">Lista de Links</h1>

<button btn onclick="location.href='/admin/dns/create'">Cadastrar Link</button>


<section txt="c">
    <card>
        <table>
            <thead>
                <tr>
                    <th>DNS</th>
                    <th>URL</th>
                    <th>Clicks</th>
                    <th txt="c">Editar</th>
                    <th txt="c">Deletar</th>
                </tr>
            </thead>
            <tbody>
                {{#each links}}
                <tr>
                    <td>{{this.dns}}</td>
                    <td>{{this.url}}</td>
                    <td>{{#if this.clicks}}{{this.clicks}}{{else}}0{{/if}}</td>
                    <td txt="c">
                        <a href="/admin/dns/editar/{{this.id}}" class="text-primary"><i class="fa fa-edit"> Editar</i></a>
                    </td>
                    <td txt="c">
                        <a href="/admin/dns/delete/{{this.id}}" class="text-danger"><i class="fa fa-trash"> Deletar</i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </card>
</section>