<h2 class="bebas">Cadastrar Shorten</h2>


<form action="{{#if link}}/admin/shorten/editar/{{link.id}}{{else}}/admin/shorten/create{{/if}}" method="post">
    <card>
        <blockquote>
            <grid>
                <div col="1/2">
                    <label for="shorten">DNS</label>
                    <input type="text" name="shorten" id="shorten" value="{{link.shorten}}" required>
                </div>
                <div col="1/2">
                    <label for="url">URL</label>
                    <input type="text" name="url" id="url" value="{{link.url}}" required>
                </div>
            </grid>
            <button btn type="submit">{{#if link}}Atualizar{{else}}Criar{{/if}} Shorten</button>
        </blockquote>
    </card>
</form>